
  <mat-toolbar class="barri" style="background: rgb(150, 7, 7);">
    <span>Minha conta</span>
    <i id="log" class='far fa-user-circle' style='font-size:24px; border-radius: 50%; color: azure; '><small style="margin-left: 15px;">Perfil</small></i>
    
 
  </mat-toolbar>

<!--
  <mat-toolbar class="barra" >
  <h1>Choice</h1>
  <span class="example-spacer" >
    
    <div class="input-group" style="margin: auto;">
      <div class="form-outline" style="width: 400px; ">
        <input type="search" id="form1" class="form-control" style="margin-right:0;" placeholder="Onde posso ir com...?"  >
        <button type="button" class="btn btn-primary">
          <i class="fas fa-search"></i>
        </button>
      </div>
      
    </div>

  </span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
 
</mat-toolbar>
-->
<!--barra dos menus-->
<mat-toolbar class="barra_links">
  <ul class="links">
    
    <li><i class="fas fa-camera-retro" (click)="abrirPub()" title="Ver/Add fotos" style="color: rgb(150, 7, 7);"></i></li>
    <i class="fas fa-video" title="Videos" style="color: rgb(150, 7, 7);"></i>
    <li><i class="fas fa-clipboard-list" title="Menu online" routerLink="/menu" style="color: rgb(150, 7, 7);"></i></li>

  </ul>
</mat-toolbar>

 <!--div lateral-->
 
 <div class="lateral"  >
     <div class="circulo_perfil" style=" margin: auto; width: 200px; height: 200px; margin-bottom: 30px;"></div>
     <h1 class="info" style="color: red; margin: auto; font-size: x-large;height: 40px; font-weight: 600; width: 80px; margin-bottom: 10px; "><i>KFC</i></h1>
     <h3 class="info" style="margin: auto;height: 40px; width: 200px; margin-bottom: 10px; "><i>It's finger licking good!</i></h3>
     <hr class="info" style="width: 80%; margin: auto; border: 0.1px solid rgb(248, 163, 163);">
     <h3 class="info" style="margin: auto;height: 40px; width: 200px; margin-bottom: 3px; margin-top: 5px; "><i>Restaurante</i></h3>
     <hr class="info" style="width: 80%; margin: auto; margin-bottom: 0;border: 0.1px solid rgb(248, 163, 163);">
     <h5 class="info" style="margin: auto;height: 25px; width: 200px; margin-top: 5px; "><i>Email: kfc@gmail.com</i></h5>
     <h5 class="info" style="margin: auto;height: 25px; width: 200px; margin-bottom: 3px; "><i>Cell: +258 845353231</i></h5>
     <hr class="info" style="width: 80%; margin: auto;border: 0.1px solid rgb(248, 163, 163);">
     <h5 class="info" style="margin: auto;height: 25px; width: 200px; margin-bottom: 3px; margin-top: 5px; "><i>Av. Acordos de Lusaka, No.124</i></h5>
 
</div>

 <!--div do meio-->
 <div class="meio" style="overflow: auto; background: white;">

  <!--Inicio da serie de posts-->
  <div class="posts" style="background: rgb(150, 7, 7); margin-bottom: 80px; padding-top: 10px;">
      <div class="perfilinho"  style="width: 45px; height: 45px;  border-radius: 50%;"></div>
      <h2 style=" height: 20px; margin-top: 0; width: 100px; margin-left: 0; text-indent: 20%;  color: white; margin-bottom: 0;">KFC</h2>   

      
      
      <video id="vid" controls autoplay height="70%" width="100%" src="../../imagens/mbenga.mp4" style="margin-bottom:0; margin-top: 10px;" type="video/mp4"></video>
      
      <ul class="linksr">
        <li><a href="#">amei</a></li>
        <li><a href="3">gostei</a></li>
        <li><a href="#">nao gostei</a></li>
        <li><a href="#">comentar</a></li>
        <li><a href="#">visite-nos</a></li>
      </ul>
  </div>

  <div class="posts" style="background: rgb(150, 7, 7); margin-bottom: 80px;padding-top: 10px;">
    <div class="perfilinho"  style="width: 45px; height: 45px;  border-radius: 50%;"></div>
    <h2 style=" height: 20px; margin-top: 0; width: 100px; margin-left: 0; text-indent: 20%;  color: white;">Restaurante</h2>

    <ul class="linksr">
      <li><a href="#">amei</a></li>
      <li><a href="3">gostei</a></li>
      <li><a href="#">nao gostei</a></li>
      <li><a href="#">comentar</a></li>
      <li><a href="#">visite-nos</a></li>
    </ul>
</div>

<div class="posts" style="background: rgb(150, 7, 7); margin-bottom: 80px;padding-top: 10px;">
  <div class="perfilinho"  style="width: 45px; height: 45px;  border-radius: 50%;"></div>
  <h2 style=" height: 20px; margin-top: 0; width: 100px; margin-left: 0; text-indent: 20%;  color: white;">Restaurante2</h2>


  <ul class="linksr">
    <li><a href="#">amei</a></li>
    <li><a href="3">gostei</a></li>
    <li><a href="#">nao gostei</a></li>
    <li><a href="#">comentar</a></li>
    <li><a href="#">visite-nos</a></li>
  </ul>
</div>

<div class="posts" style="background: rgb(150, 7, 7); margin-bottom: 80px;padding-top: 10px;">
  <div class="perfilinho"  style="width: 45px; height: 45px;  border-radius: 50%;"></div>
  <h2 style=" height: 20px; margin-top: 0; width: 100px; margin-left: 0; text-indent: 20%;  color: white;">Restaurante3</h2>


  <ul class="linksr">
    <li><a href="#">amei</a></li>
    <li><a href="3">gostei</a></li>
    <li><a href="#">nao gostei</a></li>
    <li><a href="#">comentar</a></li>
    <li><a href="#">visite-nos</a></li>
  </ul>
</div>
<div class="posts" style="background: rgb(150, 7, 7); margin-bottom: 80px;padding-top: 10px;">
  <div class="perfilinho"  style="width: 45px; height: 45px;  border-radius: 50%;"></div>
  <h2 style=" height: 20px; margin-top: 0; width: 100px; margin-left: 0; text-indent: 20%;  color: white;">Restaurante4</h2>


  <ul class="linksr">
    <li><a href="#">amei</a></li>
    <li><a href="3">gostei</a></li>
    <li><a href="#">nao gostei</a></li>
    <li><a href="#">comentar</a></li>
    <li><a href="#">visite-nos</a></li>
  </ul>
</div>

<!--termino da serie de posts-->

  <div class="publicacao"><!--div de publicacoes, os aparece ao clicar o icone de foto no perfil de restaurante-->
      <h1 style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size: xx-large; margin: auto;width: 250px; margin-top: 20px; color: gray;">Nova publicacao</h1>
      <i  class="fas fa-times" style="height: 50px;  position: absolute; right: 20px; top: 10px;  color: rgb(158, 156, 156);"  (click)="fecharPub()" ></i>
      <hr style="margin-top: 10px;">
      <br>
      <div class="filechooser" style="width: 90%; height: 200px; margin: auto; background: rgb(230, 225, 217); border-radius: 8px; margin-top: 30px;" (click)="upload()"></div>
      <input type="text" id="defaultForm-email" class="form-control" placeholder="Adicione uma legenda..." style="width: 85%; font-size: large; margin: auto;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: gray; margin-top: 10px;"><br>
      <button type="button" class="btn btn-primary" style="width: 85%; height: 30px;  margin: auto; margin-left: 40px; font-size: small; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;">publicar</button>
   </div>

   <input type="file" id="myfile" name="myfile" multiple style="display: none;">
</div>

<!--div da direita-->
<div class="direita">
</div>






