/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



  .example-spacer {
    flex:  auto;
  }

  .barri{
    
    height: 50px;
    margin-bottom: 0px;
    width: 1080px;
    background: rgb(150, 7, 7);
    
  }
  .barra{
    margin-top: 0px;
    
    height: 80px;
    width: 1080px;
    
  }

  .barra_links{

    background: white;
  }


  #paragrafo_cabecalho{
    margin-top: 0;

  }
  ul li{
    display: inline;
    text-decoration: none;
    margin: 100px;
    
    
  }

  #log{
   
    margin-left: 90%;
    position: absolute;
    margin-right: 50px;
    color: white;
  }

  body{
    width: 1368px;
    margin: 0 auto;
    overflow: hidden;

    
  }
  .lateral{

    width: 25%;
    height: 100%;
    background: white;
    margin-left: 0;
    float: left;
    padding-top: 60px;
    padding-left: 1.5%;
  }

  .meio{

    width: 50%;
    height: 100%;
    background: wheat;
    margin-left: 0;
    float: left;
  }

.posts{
  
  width: auto;
  height: 500px;
  position: relative;
  background: rgb(231, 222, 204);
}

  .direita{

    width: 25%;
    height: 100%;
    margin-left: 0;
    float: left;
    background: white;
    padding-bottom: 0px;
  }
  
.prince{
  border-radius: 20px;
}

#form1{
  border-radius: 30px;
}

.btn{
  border-radius: 30px;
}

.bl{
  background-color: rgb(238, 228, 228);
 
  height: 35px;
  border-radius: 30px;
  padding-top: 8px;
  width: 200px;
   text-indent: 20%;
}

.links{
  margin: auto;
}

.linksr{
  background-color: blue;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
}

.circulo_perfil{

  background-image: url('app/imagens/kfc_logo.png');
}

.publicacao{

background: white;
width: 500px;
height: 480px;
border-radius: 10px;
position: absolute;
left:450px;
top:20%;
display: none;


}

.perfilinho{
  background: url('app/imagens/kfc.jpg');
  
  padding: auto;
  margin-left: 20px;
}

#item1{
  background-image: url('app/components/menu/imagens/burger.jpg');
}

#item2{

  background: url('app/components/menu/imagens/hotdog1.png');
}

#item3{

  background: url('app/components/menu/imagens/pizza1.png');
  background-repeat: no-repeat;
  background-position: 50%;
}

#item3{

  background: url('app/components/menu/imagens/batata1.png');
  background-repeat: no-repeat;
  background-position: 50%;
}

#item4{

  background: url('app/components/menu/imagens/fritos1.png');
  background-repeat: no-repeat;
  background-position: center;
}

#item5{

  background: url('app/components/menu/imagens/kfc1.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

#item6{

  background: url('app/components/menu/imagens/lasanha1.png');
  background-repeat: no-repeat;
  background-position: center;
}


#item7{

  background: url('app/components/menu/imagens/frango.jpg');
  background-repeat: no-repeat;
  background-position: 50%;
}

#item8{

  background: url('app/components/menu/imagens/salada1.png');
  background-repeat: no-repeat;
  background-position: 50%;
}

#item9{

  background: url('app/components/menu/imagens/salada.jpg');
  background-repeat: no-repeat;
  background-position: center;
}


/*----------------------paratos nacionais-----------------------------------------*/


#nacional1{
  background-image: url('assets/imagens/mboa.jpg');
}

#nacional2{

  background: url('assets/imagens/espinafresalteado.jpg');
}

#nacional3{

  background: url('assets/imagens/moqueca.jpg');
  background-repeat: no-repeat;
  background-position: 50%;
}

#nacional4{

  background: url('assets/imagens/abobora.jpg');
  background-repeat: no-repeat;
  background-position: 50%;
}

#nacional5{

  background: url('assets/imagens/peixecomboa.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

#nacional6{

  background: url('assets/imagens/mboa2.jpg');
  background-repeat: no-repeat;
  background-position: center;
}










.info{

  color: #d48585;
  /*color: rgb(153, 146, 146);*/
}

#prato1{
  background: url("app/components/menu/imagens/lasanha1.png");
  background-position: 50%;
}

#prato2{
  background: url("assets/imagens/kfc1.jpg");
  background-position: 50%;
}

#prato3{
  background: url("assets/imagens/salada.jpg");
  background-position: 50%;
}

#prato4{
  background: url("assets/imagens/cupcake.jpg");
  background-position: 50%;
}

#prato5{
  background: url("assets/imagens/steak.jpg");
  background-position: 50%;
}

#prato6{
  background: url("assets/imagens1/comida4.jpg");
  background-position: 50%;
}

